@import "tailwindcss";

@font-face {
  font-family: "AdvercaseFont";
  src: url("/fonts/AdvercaseFont-Demo-Regular.otf");
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Variable.ttf");
}

@font-face {
  font-family: "MyriadPro";
  font-weight: bold;
  src: url("/fonts/MyriadPro-Regular.otf");
}

@font-face {
  font-family: "pixel-script";
  font-weight: bold;
  src: url("/fonts/pixel-script.ttf");
}

@font-face {
  font-family: "Helvetica";
  font-weight: bold;
  src: url("/fonts/Helvetica.woff");
}

* {
  /* font-family: "AdvercaseFont", sans-serif; */
  font-weight: 500;
}

@theme {
  --font-sans: "AdvercaseFont", sans-serif;
  --font-pixel-script: "pixel-script", sans-serif;
  --font-helvetica: "Helvetica", sans-serif;
  --color-yellow: #8b8030;
  --color-blue: #004482;
  --color-pink: #fceff0;
}

.navBar {
  @apply bg-white backdrop-blur-xl h-[70px] flex items-center px-4 sticky top-0 left-0 w-full flex justify-between md:p-16 p-5 z-[100];

  a {
    @apply font-helvetica text-lg;
  }
}